.container {
    display: flex;
    color: white;
    flex-direction: column;
    width: 100%;
}

.main-container-list {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
}

.favorite-container-list {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
}

.image-container {
    padding: 5px;
}

.main-container-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    font-size: 20px;
}

.button {
    color: white;
    width: 80px;
    height: 30px;
    border-radius: 3px;
}

.button-stop {
    background-color: #F26430;
}

.button-resume {
    background-color: #009B72;
}
